name: Destroy Infra created after TF demo

on: 
  workflow_dispatch:
    inputs:
      folder-name:
        description: 'Enter target folder resources to destroy'
        required: true

jobs:
  tf-destroy:
    runs-on: ubuntu-latest
    env:
      working-directory: ${{ github.event.inputs.folder-name }}
    steps:
    - name: Code checkout
      uses: actions/checkout@v4.1.1

    - name: TF init
      run: terraform init
      working-directory: "./dev/${{ env.working-directory }}"

    - name: TF Plan
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: terraform plan
      working-directory: ${{ env.working-directory }}
      run: terraform plan
      working-directory: "./dev/${{ env.working-directory }}"
      
    - name: TF Destroy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: terraform plan
      working-directory: ${{ env.working-directory }}
      run: terraform destroy --auto-approve
      working-directory: "./dev/${{ env.working-directory }}"
    
